@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'button';
@import 'accordion';

@import 'form';
@import "@fortawesome/fontawesome-free/css/all.css";

@import 'react-accessible-accordion/dist/fancy-example.css';

// @import '@fortawesome/fontawesome-svg-core/styles.css';
table.sort thead {
    th{
        position: relative;
    }
    th:not(.no-sort) {
        cursor: pointer;
    }

    th:not(.no-sort):after {
        position: absolute;
        right: 0;
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden;
        opacity: 0;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    th[aria-sort=ascending]:not(.no-sort):after {
        border-bottom: none;
        border-width: 4px 4px 0;
    }

    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }

    th:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }
}
